#spinner {
    position: relative;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    animation: slide 2s steps(500) infinite;
}

@keyframes slide {
    from {margin-left: -1000px};
    to {margin-left: 800px};
}