<h1>Dashboard</h1>
<p>{{ user ? 'hello ' + user.username : 'getting user info' }}</p>

<div class="btn-group-justified btn-group-sm btn-group-vertical">
    <button 
        class="btn btn-primary btn-sm" 
        (click)="logout()">
        Logout
    </button>
    
    <button
        class="btn btn-info btn-sm mt-2" 
        (click)="showForm = !showForm">
        Toggle Form
    </button>
</div>

<form
    *ngIf="showForm"
    class="mt-2"
    (ngSubmit)="addNote($event);"
    [formGroup]="noteForm"
>
    <div class="form-group">
        <label for="title">Title</label>
        <input 
            type="text" 
            class="form-control" 
            id="title" 
            aria-describedby="titleHellp" 
            placeholder="Enter a title"
            formControlName="title"
        >
        <small 
            id="titleHelp" 
            class="form-text text-muted">
            Enter a descriptive title for your notes
        </small>
    </div>

    <div class="form-group">
        <label 
            for="note">
            Note
        </label>
        <textarea 
            class="form-control" 
            id="note"
            placeholder="Enter your note"
            formControlName="note"
            rows="3">
        </textarea>
    </div>
    <button 
        type="submit" 
        class="btn btn-success"
        >
        Add Note
    </button>
</form>

<section class="row mt-3">
    <div class="col-6" *ngFor="let note of notes">
        <div class="card border-info mb-3">
            <div class="card-header">
                <div class="float-right">
                    <!-- <button (click)="edit(note._id)" class="badge badge-pill badge-info">E</button> -->
                    <button (click)="delete(note._id)" class="badge badge-pill badge-danger">X</button>
                </div>
                <h2>{{ note.title }}</h2>
            </div>
            <div class="card-body">
                <p 
                    markdown 
                    ngPreserveWhitespaces 
                    class="card-text">
                    {{ note.note }}
                </p>
            </div>
        </div>
    </div>
</section>

